*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regola di reset */

.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;

}

.top{

    border: 2px solid red;
    /* test */
    
    justify-content: space-between;
    
    width: 100%;

    background-color: #FFFFFF;

    padding: 18px;
}
.right, .left{
    gap: 20px;
}

.top .left .logo img{
    
    height: 18px;
}
.top .right .list-2 ul, .top .left .list-1 ul{
  gap: 15px;
}

.list-2, .buttons{
    gap: 10px;
}

.top .right .list-2 li, .top .left .list-1 li {
    list-style-type: none;
}

.top .right .buttons .Login{
    
}
.top .right .buttons .Start{
    background-color: #2860F6;
    
}

/* inizio del main  */


.container{
    border: 1px solid red;
    max-height: 740px;
    /* test */

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container .title{
    width: 100%;
    height: 320px;

    background-color: aqua;
  
  
    /* test */
}

.container .specification{
    width: 100%;
    height: 420px;

    background-color: cadetblue;

    /* test */

}
.container .description{
    border: 1px dotted red;
    height: 420px;

    flex-grow: 1;
    
    background-color: chocolate;
    /* test */
}


.container .img-Dp{
    border: 1px dotted red;
    flex-grow: 2;
    

}
/* prima parte del main fatta  */

.container-big{
    border-color: red dotted 1px;
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.business-title{
  width: 100%;
  height: 200px;

  background-color: green;

  border: 1px solid red;
    /* test */
}

.business-cln{
    gap: 30px;
}

.business-cln .cln{
    border: 1px solid red;
    background-color: grey;
    /* test */
    
    width: calc(100% / 3 );
    height: 300px;

}
.business-bottom{
    border: 1px solid red;
    background-color: green;
    /* test */

    height: 200px;
    width: 100%;
}
    








  
