* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regola di reset */

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    display: flex;
}

.column {


    display: flex;
    flex-direction: column;

}

/* regole generali */

/* ricordare di mettere display fixed */

.top {
    position: fixed;
    z-index: 1;


    justify-content: space-between;

    width: 100%;

    background-color: #FFFFFF;

    padding: 18px;
}

.right,
.left {
    gap: 20px;
}

.top .left .logo img {

    height: 18px;
}

.top .right .list-2 ul,
.top .left .list-1 ul {
    gap: 15px;
}

.list-2,
.buttons {
    gap: 10px;
}

.top .right .list-2 li,
.top .left .list-1 li {
    list-style-type: none;
}

.top .right .buttons .Login {}

.top .right .buttons .Start {
    background-color: #2860F6;
    color: white;
   
    padding: 0px 5px;


}

/* inizio del main  */

#background {
    background-color: #BACFE4;

}

.container {


    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;

    padding-top: 80px;
}

.container .title {
    width: 100%;

    margin-top: 30px;
}

.container .title h1 {
    font-size: 50px;
    font-weight: bold;
}








.container .specification {
    width: 100%;
    position: relative;
    bottom: -40px;




}

.container .description {
    width: 40%;

    align-items: flex-start;
    gap: 50px;
}

.button {
    background-color: #2860F6;
    color: white;

    padding: 4px;

    text-decoration: none;
}

.description .fa-solid {
    font-size: 35px;
}







.specification .img-Dp {


    width: 60%;


}

.specification .img-Dp img {
    width: 100%;


}

/* prima parte del main fatta  */

.container-big {
    border-color: red dotted 1px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.business-title {
    width: 100%;
    padding: 30px;

    margin-bottom: 20px;
}

.business-title h2 {
    margin-bottom: 30px;

}

/* inizio della colonna */


.business-cln {
    gap: 30px;

    margin-bottom: 50px;
}

.space {
    margin-bottom: 20px;
}

.distance {
    margin-bottom: 40px;
}

.business-cln .cln {
    border: 1px solid rgba(0, 0, 0, 0.200);

    /* test */

    width: calc(100% / 3);
}

.business-cln h5,
.business-bottom h5 {
    padding: 10px;
    text-align: center;

    font-weight: lighter;

    border-bottom: 1px solid rgba(00, 00, 00, 0.200);
}

.business-cln .pack,
.business-bottom .pack {
    font-weight: bolder;
    font-size: 22px;

}

.business-cln .when {
    font-weight: lighter;
    font-size: 8px;
}

.money {
    font-weight: bold;
}

ul {
    list-style: none;
}

hr {
    width: 50px;
}


.cln-1 {
    padding: 10px;
}
.cln .fa-solid{
    color: #3069F6 ;
}

.cln .button {
    display: inline-block;
}

.business-bottom {
    margin-bottom: 150px;
}

/* fine della  colonne */

.business-bottom {
    border: 1px solid rgba(00, 00, 00, 0.200);

    /* test */


    width: 100%;
}

.business-bottom h5 {
    text-align: center;

    border-bottom: 1px solid rgba(00, 00, 00, 0.200);

    padding: 10px;
}

.business-bottom .relative {
    position: relative;
}

.business-bottom .relative .button {
    position: absolute;
    right: 30px;
    top: 30px;
}

/* fine Business Plan */

/* inizio sezione Partner */

.partner {
    width: 100%;

    margin-bottom: 150px;



}

.img-partner {

    width: 60%;

}

.img-partner img {
    width: 100%;

}

.text-partner {

    width: 40%;
    padding: 20px;

}

.text-partner h5 {
    font-size: medium;
}

.partner .trova-partner {
    display: inline-block;

    border: 1px solid black;

    padding: 5px;
}

/* fine sezione partner */









.title-operation {
    width: 100%;

    margin-bottom: 50px;

    text-align: center;
   
}

    


.operation {

    /* height: 400px; */
    flex-wrap: wrap;
    margin-bottom: 210px;
}

.operation .img-operation {
    

    /* height: 200px; */
    width: calc(100% / 3);
    padding: 20px;
}
.operation .img-operation img{
    width: 100%;
}

.team {
   
    /* test */
    width: 100%;
    text-align: justify;

    margin-bottom: 150px;
}
.team h2{
    font-weight:600;
    font-size: 30px;
}

.box-container {
    /* height: calc(100vw / 3);
    width: calc(100% / 3); */
}

.box {
    
    /* height: 640px;
    width: calc(100% / 3); */
    /* test */
    height: calc(100vw / 3);
    width: calc(100% / 3);
}

.middle-box {
    padding: 10px;
    text-align: left;
    overflow: auto;
}
#midd-img{
    transform: scale(0.7);

}
.Des-text{
    font-size: 15px;
}
.Des-hr{
    margin-bottom: 15px;
}




.box-left,
.box-right {
    flex-wrap: wrap;
}

.box-img {
    
    

    height: 50%;
    width: 50%;
    /* width:calc(100% / 2); */

    justify-content: center;

}

.box-img img{
    transform: scale(0.3);
    
    filter: invert(1);
}

.box-img #special {
    transform: scale(0.1) ;

}
.box-img  #special-2 {
    transform: scale(0.1) ;

}
.box-img #special-3{
    transform: scale(0.2);
}
.color-1{
    background-color:#ACD2A0 ;
}
.color-2{
    background-color:#59132B ;
}
.color-3{
    background-color:#4091C9 ;
}
.color-4{
    background-color:#EA3B2F ;
}
.color-5{
    background-color:#C3292A ;
}
.color-6{
    background-color:#BACFE4 ;
}
.color-7{
    background-color:#13237C ;
}
.color-8{
    background-color:#F9DA56 ;
}

/* fine blocco quadrato */



.free-try {
    
    background-color: #BACFE4;

    width: 100%;
}


.container-free{
    justify-content: space-between;
    padding: 130px;
    
    position: relative;

}
.container-free h3{
    font-size: 36px;

    color: #59132B;
}
.container-free .free{
    background-color: white;
    padding: 5px;

    position: absolute;
    top:140px;
    right: 0;
}

.question {
    width: 100%;
    
    margin-bottom: 100px;

}
.question-container{
    padding: 40px;
}
    
.question-container h4{
    font-size: 40px;
    font-weight: 600;

}


.question-container .border-bot{
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px solid black;

    font-weight: 700;

    justify-content: space-between;

    /* test */
    position: relative;

}
.QeA{
    justify-content: space-between;
}


.answer{
   
    max-height: 0;
    overflow: hidden;
    
    transition: 0.5s;
}
.border-bot:hover .answer{
   max-height: 100%;
   padding: 100px;
   background-color:#F5F5F5 ;
   border-radius: 15px;
    
    

}


/* inizio footer */
footer {
    background-color: black;


}

.container-footer {
    width: 100%;

    /* reset */

    padding-top: 100px;

}

.lists {
  

    max-width: 1200px;
    flex-wrap: wrap;


}

.list {
    /* height: 80px; */
    

    width: calc(100% / 5);

    margin-bottom: 100px;

    color: white;


}
.list li{
    /* padding: 10px;s */
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.list h6{
    font-size: 15px;
    padding-bottom: 20px;
}

.language {
    width: 100px;
    height: 100px;
   
}
.ita{
    color: #928F8C;
}